<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239935920236-e5o0tti48re2r6bjg13bk3m49sicgafi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239935920236-e5o0tti48re2r6bjg13bk3m49sicgafi</string>
	<key>API_KEY</key>
	<string>AIzaSyD7zsZYjlPhWis6tH33jB7yMr8-rsNY-yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>239935920236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crownstack.Musica</string>
	<key>PROJECT_ID</key>
	<string>musica-198c1</string>
	<key>STORAGE_BUCKET</key>
	<string>musica-198c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239935920236:ios:d356c613325fc6f1dae049</string>
</dict>
</plist>